.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 20px 30px;
}

.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.close-modal {
  margin-top: -40px;
  margin-right: -20px;
}