.all-charts{
    margin: 80px auto auto auto ;
}

.chart-card{
    width: 42rem;
    margin-left:32px;
}

.row{
    overflow: auto;
    margin-bottom:60px;
}

.chart-container canvas{
    margin-bottom:15px;
}

