<!--Carousel-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-interval="10000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://images.unsplash.com/photo-1580656940647-8854a00547f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img
        src="https://images.unsplash.com/photo-1567401893414-76b7b1e5a7a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img
        src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"
        class="d-block w-100" alt="..." />
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <div class="wrapper">
    <button class="slide_from_left"><a href="#nova">NEW COLLECTION</a></button>
  </div>
</div>
<!--Categorys-->
<div>
  <div class="container mb-5 text-center">
    <h2 class="fs-2 fw-light">C A T E G O R I E S</h2>
  </div>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center p-1">
      <div class="col">
        <div class="text-center">
          <img class="img-cat rounded-circle relative"
            src="https://images.unsplash.com/photo-1485230895905-ec40ba36b9bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            alt="" />
          <p class="">TRENDS</p>
        </div>
      </div>

      <div class="col">
        <div class="text-center">
          <img class="img-cat rounded-circle"
            src="https://images.unsplash.com/photo-1479064555552-3ef4979f8908?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            alt="" />
          <p>ACCESSORIES</p>
        </div>
      </div>

      <div class="col">
        <div class="text-center">
          <img class="img-cat rounded-circle"
            src="https://images.unsplash.com/photo-1516763296043-f676c1105999?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=843&q=80"
            alt="" />
          <p>HOME</p>
        </div>
      </div>

      <div class="col">
        <div class="text-center">
          <img class="img-cat rounded-circle"
            src="https://images.unsplash.com/photo-1538329972958-465d6d2144ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            alt="" />
          <p>FASHION</p>
        </div>
      </div>

      <div class="col">
        <div class="text-center">
          <img class="img-cat rounded-circle"
            src="https://images.unsplash.com/photo-1585914924626-15adac1e6402?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"
            alt="" />
          <p>CASUAL</p>
        </div>
      </div>

      <div class="col">
        <div class="text-center">
          <img class="img-cat rounded-circle"
            src="https://images.unsplash.com/photo-1512201078372-9c6b2a0d528a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80"
            alt="" />
          <p>BAGS</p>
        </div>
      </div>
    </div>
  </div>
</div>